NEXT_PUBLIC_KEYCLOAK_URL=https://keycloak-production-fa76.up.railway.app
NEXT_PUBLIC_KEYCLOAK_REALM=job-scheduler
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=job-scheduler-client
NEXT_PUBLIC_API_BASE_URL=https://distributed-job-scheduler-production-7bb1.up.railway.app
